<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/css/form.css">
</head>
<body>
  <div class="form">
    <div class="heading">
      <h1>Sign Up</h1>
      <!-- <a href="">adminLogin</a> -->
    </div>
    
    <form action="/register" method="POST">
      
      <label for="username">Username</label><br>
      <input type="text" name="username" id="username" required>
      <br>
      <label for="password">Password</label><br>
      <input type="password" name="password" id="password" required>
      <br>
    <a href=""> <button  type="submit">Sign Up</button></a>
    </form>
  </div>
</body>
</html>
