body{
  
    margin: 0;
    font-family:  "Montserrat",sans-serif;
    /* height: 100vh; */
    /* background-color: aliceblue; */
    /* background: linear-gradient(150deg, #301F81 12.51%, #0F0441 89.53%); */
  }
.user_spc{
   border: 2px solid grey;
   padding: 15px;
   border-radius: 16px;
  display: flex;
}
.container{
    /* background-color: aqua; */
    max-width: 1000px;
    margin: 0px auto;
}
#table_body td{
    padding: 10px;
    background-color: white;
}
.li{
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 13px 19px 0px rgba(0, 0, 0, 0.07);
    border-radius: 10px;
    padding: 10px;
}
.post_btn{
    display: flex;
    gap: 20px;

}
.btn{
    border: none;
    background-color: orange;
    padding: 10px 30px;
    border-radius: 5px;
    font-weight: 700;
    font-size: 14px;
    color: white;

}
.article_ul{
    width: 100%;
    display: flex;
    gap: 10px;
    flex-direction: column;
    padding: 0px;
}
.header_section{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/* form{
    position: absolute;
    top: 240px;
    left: 600px;
    background-color: white;
    box-shadow: 10px 10px 20px 5px #888;
    padding: 25px;
    width: 20%;
    border-radius: 20px;
    display: none;
} */
/* input{
    padding: 10px;
    outline: none;
    border-radius: 10px;
    border:1px solid grey;
    margin: 10px 0px 20px 0px;
    width: 90%;
   
}  */
form label{
    margin-top: 20px;
}
button{
    padding: 15px 20px;
    /* margin-top:20px; */
    border-radius: 10px;
    width: 100%;
    font-size: 20px;
    font-weight: 700;
    background-color: cornflowerblue;
    color: white;
    border: none;
}
.show_user{
    display: flex;
    justify-content: space-between;
}
.show_user h2{
    font-size: 14px;

}
.table .tabelHead{
    text-align: center;
}
.delete_form h5{
    color: #2B3674;
    font-family: DM Sans;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    margin: 0;
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}
.delete_form button{
    padding: 7px;
    width: 37px;
    height: 37px;
    justify-content: center;
    display: flex;
    border: 1px solid transparent;
    align-items: center;
    border-radius: 10px;
}
.delete_form button i{
    color: #4318FF;
}
.delete_form button:hover{
    border-color: #4318FF;
}
.bottom{
    justify-content: flex-end;
}
.delete_details{
    width: 692px;
    padding: 26px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    border-radius: 22px;
    position: absolute;
    top: 200px;
    left: 500px;
    background-color: #FFF;
    display: none;
    z-index: 2;

}
.delete_details h6{
    color: #2B3674;
    font-family: DM Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    margin-bottom: 30px;
}
.delete_details .bottom .filled_btn{
    background-color: #EB506C;
}
.overlay{
    width: 100%;
    height: 100vh;
    position: absolute;
    background-color: rgba(5, 3, 11, 0.20);
    top: 0;
    display: none;
    backdrop-filter: blur(3px);
  }
  .card{
    display: flex;
    flex-direction: column;
    padding: 15px 18px 15px 15px;
    gap: 30px;
    justify-content: center;
    position: absolute;
    top: 200px;
    left: 500px;
    display: none;
    z-index: 2;
    /* text-align: center; */
    /* width: 50%; */
    background-color: white;
    /* margin-left:50px ; */
  }
  .form-control{
    width: 95%;
    padding: 15px;
  }
  .card_btn {
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    /* padding-top:30px ; */
  
  
  }
  .card_btn button{
    padding: 15px;
    font-size: 16px;
    font-weight: 700;
    color: white;
    background-color: rgb(176, 175, 175);
    border-radius: 16px;
    border: none;
  }
  .card_body{
    display: flex;
    flex-direction: column;
    gap: 20px;
    /* justify-content: center;
    align-items: center; */
  }
  .card-title{
    font-weight: 700;
    font-size: 24px;
    text-align: center;
    margin: 0;
  }
  .card-text{
    font-weight: 700;
    font-size: 14px;
    text-align: center;
    margin: 0;
  }
  .card_body label{
    font-size: 16px;
    font-weight: 700;
  }
  .td{
    text-align: center;
  }
  input{
    padding: 10px;
    outline: none;
    border-radius: 10px;
    border:1px solid grey;
    margin: 10px 0px 20px 0px;
    width: 90%;
   
}
form label{
    margin-top: 20px;
}
button{
    padding: 15px 20px;
    margin-top:20px;
    border-radius: 10px;
    width: 100%;
    font-size: 20px;
    font-weight: 700;
    background-color: cornflowerblue;
    color: white;
    border: none;
}
.form{
  background-color: blueviolet;
  /* box-shadow: 10px 10px 20px 5px #888; */
  padding: 25px;
  width: 20%;
  border-radius: 20px;
  position: relative;
  top: -100px;
  left: 600px;
  display: none;
}